<div class="row">
  <div class="col-md-12">
    <div class="input-group mb-6" style="padding-left: 1%" style="width: 35%">
      <input #input type="text" size="4" class="form-control" placeholder="Enter Location" aria-label="Enter Location"
        aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="onClick(input.value)">Search</button>
      </div>

    </div>
    <div class="alert-danger" id="errMsg" nowrap>{{errors}}</div>
  </div>
</div>

<div class="row">
  <div id='map' class="col-md-10" style="height:800px"></div>
  <div class="col-md-2">
    <ul id='list' class="list-group" style="top: 0px; right: 16px; position:absolute; overflow: auto">
      <li class="list-group-item" *ngFor="let r of parkList">{{r.name}}</li>
    </ul>
  </div>
</div>